Alert_Tracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Alert_Time_Remaining</name>
        <label>Check Alert Time Remaining</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equals_to_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlertTimeRemainingValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Alert_Assigned__r.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Alert_Case</targetReference>
            </connector>
            <label>Equals to 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AlertTimeRemainingValue</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Next_Time__c} - {!$Record.Base_Time__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculateTimeZoneGroup</name>
        <dataType>String</dataType>
        <expression>&quot;Eastern Time (GMT-5)&quot;</expression>
    </formulas>
    <formulas>
        <name>CaseNameValue</name>
        <dataType>String</dataType>
        <expression>&apos;HITN Lead Alert Case - &apos; + {!$Record.Alert_Status__c}</expression>
    </formulas>
    <formulas>
        <name>NextAlertValue</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Store__r.Lead_Alert_Timer__c} + Value({!AlertTimingPicklistValue})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Alert Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alert Tracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Alert_Case</name>
        <label>Create Alert Case</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_HITN_Lead_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>HITN_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Alert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseNameValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_HITN_Lead_Case</name>
        <label>Update HITN Lead Case</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alert_Assigned__c</field>
            <value>
                <elementReference>Create_Alert_Case</elementReference>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Alert_Time_Remaining</targetReference>
        </connector>
        <object>HITN_Lead__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AlertTimingPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Alert_Window__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomSettingsRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert_Timing__c</objectType>
    </variables>
</Flow>
