HITN_Lead_B.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Buffer_Date</name>
        <label>Check Buffer Date</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_HITN_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Buffer</defaultConnectorLabel>
        <rules>
            <name>Buffer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HITN_Lead.Buffer_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Buffer_Time</targetReference>
            </connector>
            <label>Buffer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Path_Status_With_Alert_Timing_Lead_Status</name>
        <label>Match Path Status With Alert Timing Lead Status</label>
        <locationX>550</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Iterate_Between_Custom_Settings_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Matched</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HITN_Lead.Path_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Between_Custom_Settings_Records.Lead_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Buffer_Date</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateBufferTime</name>
        <dataType>Number</dataType>
        <expression>({!Get_HITN_Lead.Buffer_Date__c} - TODAY()) *24</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculateTimeZoneGroup</name>
        <dataType>String</dataType>
        <expression>&quot;Eastern Time (GMT-5)&quot;</expression>
    </formulas>
    <formulas>
        <name>NextAlertValue</name>
        <dataType>Number</dataType>
        <expression>{!Get_HITN_Lead.Store__r.Lead_Alert_Timer__c}+ Value({!AlertTimingPicklistValue}) + {!Get_HITN_Lead.Store__r.Store_Time__c} + {!Get_HITN_Lead.Buffer_Time__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>HITN Lead B {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HITN Lead B</label>
    <loops>
        <name>Iterate_Between_Custom_Settings_Records</name>
        <label>Iterate Between Custom Settings Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Custom_Settings_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_Path_Status_With_Alert_Timing_Lead_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Settings_Record</name>
        <label>Get Custom Settings Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Between_Custom_Settings_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Alert_Timing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HITN_Lead</name>
        <label>Get HITN Lead</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Settings_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HITN_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Buffer_Time</name>
        <label>Assign Buffer Time</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_HITN_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HITN_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Buffer_Time__c</field>
            <value>
                <elementReference>CalculateBufferTime</elementReference>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HITN_Lead</name>
        <label>Update HITN Lead</label>
        <locationX>396</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Iterate_Between_Custom_Settings_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HITN_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alert_Status__c</field>
            <value>
                <elementReference>Iterate_Between_Custom_Settings_Records.Alert_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alert_Window__c</field>
            <value>
                <elementReference>AlertTimingPicklistValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Base_Time__c</field>
            <value>
                <elementReference>Get_HITN_Lead.Store__r.Lead_Alert_Timer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Time__c</field>
            <value>
                <elementReference>NextAlertValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timezone_Group__c</field>
            <value>
                <elementReference>CalculateTimeZoneGroup</elementReference>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_HITN_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AlertTimingPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_HITN_Lead.Alert_Window__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
