HITN_Lead_Assign_Service_Provider.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Update each loop to capture the furthest recent lead provider account.</description>
        <name>Next_Service_Provider</name>
        <label>Next Service Provider</label>
        <locationX>798</locationX>
        <locationY>2819</locationY>
        <assignmentItems>
            <assignToReference>NextServiceProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_HITN_Recent_Leads.Service_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_HITN_Recent_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recent_Lead_Provider_Ids</name>
        <label>Recent Lead Provider Ids</label>
        <locationX>798</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>RecentLeadProviderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_HITN_Recent_Leads.Service_Provider__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Service_Provider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reload_Round_Robin_List</name>
        <label>Reload Round Robin List</label>
        <locationX>578</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>RoundRobinAccountIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NextServiceProvider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_Provider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recent_Providers</name>
        <label>Remove Recent Providers</label>
        <locationX>710</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>RoundRobinAccountListCopy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoundRobinAccountIdList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoundRobinAccountIdList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RecentLeadProviderIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Round_Robin_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Account_Ids</name>
        <label>Save Account Ids</label>
        <locationX>869</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>ProviderAccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Provider_Coverages.Provider__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Provider_Coverages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Round_Robin_Account_Ids</name>
        <label>Save Round Robin Account Ids</label>
        <locationX>869</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>RoundRobinAccountIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Services.Provider__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoundRobinAccountIdListSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Store_Ids</name>
        <label>Save Store Ids</label>
        <locationX>869</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>StoreIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Found_Coverages.Store__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Found_Coverages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Store_Ids_by_HITN_Lead_Client</name>
        <label>Save Store Ids by HITN Lead Client</label>
        <locationX>869</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ClientStoreIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Stores.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Stores</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Service_Providers</name>
        <label>Check for Service Providers</label>
        <locationX>781</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Get_Inactive_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoundRobinAccountIdList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Solo_Provider</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recent_Leads</name>
        <label>Check Recent Leads</label>
        <locationX>512</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Loop_HITN_Recent_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recent Leads</defaultConnectorLabel>
        <rules>
            <name>No_Recent_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recent_HITN_Leads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Round_Robin_Accounts</targetReference>
            </connector>
            <label>No Recent Leads</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Solo_Provider</name>
        <label>Check Solo Provider</label>
        <locationX>281</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Get_Recent_HITN_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Many</defaultConnectorLabel>
        <rules>
            <name>One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoundRobinAccountIdListSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Provider</targetReference>
            </connector>
            <label>One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Round_Robin_State</name>
        <label>Round Robin State</label>
        <locationX>710</locationX>
        <locationY>3119</locationY>
        <defaultConnector>
            <targetReference>Get_Next_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Reset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoundRobinAccountIdList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reload_Round_Robin_List</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Gap_Type</name>
        <label>Service Gap Type</label>
        <locationX>1282</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Update_HITN_Lead_Service_Gap</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Gap</defaultConnectorLabel>
        <rules>
            <name>Service_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inactive_Services.Provider__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HITN_Lead_Service_Pending</targetReference>
            </connector>
            <label>Service Pending</label>
        </rules>
        <rules>
            <name>Service_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inactive_Services.Provider__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HITN_Lead_Service_Review</targetReference>
            </connector>
            <label>Service Review</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IncrementAssignmentNumber</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>HITN Lead Assign Service Provider {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HITN Lead Assign Service Provider</label>
    <loops>
        <description>Might find more that one client. Purposely did not add record type to coverage to allow lead forwarding between clients in a future state.</description>
        <name>Loop_Found_Coverages</name>
        <label>Loop Found Coverages</label>
        <locationX>781</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Store_Coverages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_Store_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Stores</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_HITN_Recent_Leads</name>
        <label>Loop HITN Recent Leads</label>
        <locationX>710</locationX>
        <locationY>2603</locationY>
        <collectionReference>Get_Recent_HITN_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recent_Lead_Provider_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Recent_Providers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Provider_Coverages</name>
        <label>Loop Provider Coverages</label>
        <locationX>781</locationX>
        <locationY>1355</locationY>
        <collectionReference>Get_Provider_Coverages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_Account_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Provider_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Services</name>
        <label>Loop Services</label>
        <locationX>781</locationX>
        <locationY>1871</locationY>
        <collectionReference>Get_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_Round_Robin_Account_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Service_Providers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Stores</name>
        <label>Loop Stores</label>
        <locationX>781</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Stores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_Store_Ids_by_HITN_Lead_Client</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Provider_Coverages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HITN_Lead_Area</name>
        <label>Get HITN Lead Area</label>
        <locationX>781</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Store_Coverages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mailing_Zip_Postal_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Area__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Reduces the amount of coverage issues because the data exist but someone may not notice that the service is inactive.</description>
        <name>Get_Inactive_Services</name>
        <label>Get Inactive Services</label>
        <locationX>1282</locationX>
        <locationY>2279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Gap_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ProviderAccountList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Provider</name>
        <label>Get Next Provider</label>
        <locationX>710</locationX>
        <locationY>3419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_HITN_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RoundRobinAccountIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Accounts</name>
        <label>Get Provider Accounts</label>
        <locationX>781</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Services</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_HITN_Lead_State_No_Provider_Coverage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProviderAccountList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Coverages</name>
        <label>Get Provider Coverages</label>
        <locationX>781</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Provider_Coverages</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_HITN_Lead_State_No_Store_Coverage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ClientStoreIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Coverage_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider Coverage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Coverage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recent_HITN_Leads</name>
        <label>Get Recent HITN Leads</label>
        <locationX>512</locationX>
        <locationY>2387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Recent_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <elementReference>RoundRobinAccountIdListSize</elementReference>
        </limit>
        <object>HITN_Lead__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Round_Robin_Accounts</name>
        <label>Get Round Robin Accounts</label>
        <locationX>314</locationX>
        <locationY>2603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_First_Service_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RoundRobinAccountIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Provider</name>
        <label>Get Service Provider</label>
        <locationX>50</locationX>
        <locationY>2387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Service_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RoundRobinAccountIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Services</name>
        <label>Get Services</label>
        <locationX>781</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ProviderAccountList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Store_Coverages</name>
        <label>Get Store Coverages</label>
        <locationX>781</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Found_Coverages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HITN_Lead_Area.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Coverage_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Store Coverage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Coverage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stores</name>
        <label>Get Stores</label>
        <locationX>781</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Stores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>StoreIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_First_Service_Provider</name>
        <label>Assign First Service Provider</label>
        <locationX>314</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Update_Lead_State</targetReference>
        </connector>
        <inputAssignments>
            <field>Service_Provider__c</field>
            <value>
                <elementReference>Get_Round_Robin_Accounts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Service_Provider</name>
        <label>Assign Service Provider</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>Update_Lead_State</targetReference>
        </connector>
        <inputAssignments>
            <field>Service_Provider__c</field>
            <value>
                <elementReference>Get_Service_Provider.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HITN_Lead</name>
        <label>Update HITN Lead</label>
        <locationX>710</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Update_Lead_State</targetReference>
        </connector>
        <inputAssignments>
            <field>Service_Provider__c</field>
            <value>
                <elementReference>Get_Next_Provider.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HITN_Lead_Service_Gap</name>
        <label>Update HITN Lead Service Gap</label>
        <locationX>1546</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Service Gap</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HITN_Lead_Service_Pending</name>
        <label>Update HITN Lead Service Pending</label>
        <locationX>1018</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Service Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HITN_Lead_Service_Review</name>
        <label>Update HITN Lead Service Review</label>
        <locationX>1282</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Service Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HITN_Lead_State_No_Provider_Coverage</name>
        <label>Update HITN Lead State - No Provider Coverage</label>
        <locationX>1810</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Coverage Gap</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HITN_Lead_State_No_Store_Coverage</name>
        <label>Update HITN Lead State - No Store Coverage</label>
        <locationX>2074</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Coverage Gap</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_State</name>
        <label>Update Lead State</label>
        <locationX>281</locationX>
        <locationY>3803</locationY>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>655</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_HITN_Lead_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assign</stringValue>
            </value>
        </filters>
        <object>HITN_Lead__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientStoreIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextServiceProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProviderAccountList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecentLeadCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecentLeadProviderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoundRobinAccountIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoundRobinAccountIdListSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RoundRobinAccountListCopy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
