Key_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_Total</name>
        <label>Calculate Total and Save</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Subtotal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subtotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>All</name>
        <choiceText>ALL</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AM</name>
        <choiceText>AM</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ApproveChoice</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>CompletionDocumentOption</name>
        <choiceText>Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Completion_Document.multiple</elementReference>
        </value>
    </choices>
    <choices>
        <name>DeclineChoice</name>
        <choiceText>Decline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decline</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM</name>
        <choiceText>PM</choiceText>
        <dataType>String</dataType>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Approval_For_Close_Decision</name>
        <label>Approval For Close Decision</label>
        <locationX>1722</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Reset_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Sold_and_Field_Updates</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Closed_and_Field_Updates</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Viewed_Decision</name>
        <label>Change Viewed Decision</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Status_To_Viewed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Provider or Employee</defaultConnectorLabel>
        <rules>
            <name>Admin_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Alert</targetReference>
            </connector>
            <label>Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_For_Lead_Status</name>
        <label>Decision For Lead Status</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Reset_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Path_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Viewed_Decision</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Viewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Path_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viewed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_Screen</targetReference>
            </connector>
            <label>Viewed</label>
        </rules>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Path_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Screen</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Quoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Path_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sale_Screen</targetReference>
            </connector>
            <label>Quoted</label>
        </rules>
        <rules>
            <name>Sold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Path_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Screen</targetReference>
            </connector>
            <label>Sold</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Path_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Decision</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Path_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Alert</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Close_Decision</name>
        <label>Update Close Decision</label>
        <locationX>1942</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Reset_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Provider or Employee</defaultConnectorLabel>
        <rules>
            <name>Admin_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Screen_For_Admins</targetReference>
            </connector>
            <label>Admin</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DocumentDeclineReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Decline_Reason__c</picklistField>
        <picklistObject>HITN_Lead__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TaxCodePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tax_Code__c</picklistField>
        <picklistObject>HITN_Lead__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeslotPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appointment_Timeslot__c</picklistField>
        <picklistObject>HITN_Lead__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculateTotal</name>
        <dataType>Currency</dataType>
        <expression>{!Subtotal} + {!Tax}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateViewedDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>CompleteDate</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>InstallDate</name>
        <dataType>Date</dataType>
        <expression>{!Install_Date}</expression>
    </formulas>
    <formulas>
        <name>QuoteDate</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>SoldDate</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Key Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Key Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>1282</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Alert_Buffer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HITN_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Alert_Buffer</name>
        <label>Clear Alert Buffer</label>
        <locationX>1282</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Decision_For_Lead_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Buffer_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Buffer_Time__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_Closed_and_Field_Updates</name>
        <label>Update Status To Closed and Field Updates</label>
        <locationX>1722</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Reset_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Path_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_Completed_and_Field_Updates</name>
        <label>Update Status To Completed &amp; Alert Buffer</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Reset_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Buffer_Date__c</field>
            <value>
                <elementReference>CompleteDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>CompleteDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Path_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_Quoted</name>
        <label>Update Status To Quoted &amp; Alert Buffer</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Reset_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Buffer_Date__c</field>
            <value>
                <elementReference>QuoteDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Path_Status__c</field>
            <value>
                <stringValue>Quoted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Amount__c</field>
            <value>
                <elementReference>Quote_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Date__c</field>
            <value>
                <elementReference>QuoteDate</elementReference>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_Scheduled</name>
        <label>Update Status To Scheduled &amp; Alert Buffer</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Reset_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Date__c</field>
            <value>
                <elementReference>Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Timeslot__c</field>
            <value>
                <elementReference>Appointment_Timeslot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buffer_Date__c</field>
            <value>
                <elementReference>Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Path_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_Sold</name>
        <label>Update Status To Sold &amp; Alert Buffer</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Reset_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Buffer_Date__c</field>
            <value>
                <elementReference>InstallDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Install_Date__c</field>
            <value>
                <elementReference>InstallDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Path_Status__c</field>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sold_Date__c</field>
            <value>
                <elementReference>SoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtotal__c</field>
            <value>
                <elementReference>Subtotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Code__c</field>
            <value>
                <elementReference>Tax_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax__c</field>
            <value>
                <elementReference>Tax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total__c</field>
            <value>
                <elementReference>CalculateTotal</elementReference>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_Sold_and_Field_Updates</name>
        <label>Update Status To Sold and Field Updates</label>
        <locationX>1458</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Reset_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decline_Notes__c</field>
            <value>
                <elementReference>Decline_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Decline_Reason__c</field>
            <value>
                <elementReference>Document_Decline_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Path_Status__c</field>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_Viewed</name>
        <label>Update Status To Viewed</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Reset_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Path_Status__c</field>
            <value>
                <stringValue>Viewed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Viewed_Date__c</field>
            <value>
                <elementReference>CalculateViewedDate</elementReference>
            </value>
        </inputAssignments>
        <object>HITN_Lead__c</object>
    </recordUpdates>
    <screens>
        <name>Calculate_Screen</name>
        <label>Calculate Screen</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Edit</backButtonLabel>
        <connector>
            <targetReference>Update_Status_To_Sold</targetReference>
        </connector>
        <fields>
            <name>Calculate_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Calculate_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subtotal_Read_Only</name>
                    <fieldText>&lt;p&gt;Subtotal: {!Subtotal}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Tax_Read_Only</name>
                    <fieldText>&lt;p&gt;Tax: {!Tax}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Total_Read_Only</name>
                    <fieldText>&lt;p&gt;Total: {!Get_Lead.Total__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Calculate_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Close_Screen_For_Admins</name>
        <label>Close Screen</label>
        <locationX>1722</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approval_For_Close_Decision</targetReference>
        </connector>
        <fields>
            <name>Close_Screen_For_Admins_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Screen_For_Admins_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Document_Decline_Reason</name>
                    <choiceReferences>DocumentDeclineReason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Document Decline Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Decline_Notes</name>
                    <dataType>String</dataType>
                    <fieldText>Decline Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Close_Screen_For_Admins_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action</name>
                    <choiceReferences>ApproveChoice</choiceReferences>
                    <choiceReferences>DeclineChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_Screen</name>
        <label>Complete Screen</label>
        <locationX>1194</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Status_To_Completed_and_Field_Updates</targetReference>
        </connector>
        <fields>
            <name>Complete_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Complete_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Completion_Document</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>CompletionDocumentOption</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Lead.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Complete_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Resubmit_Document_To_Complete_Lead</name>
            <fieldText>Resubmit Document To Complete Lead</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resubmit_Document_To_Complete_Lead_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReviewDocumentDeclineReason</name>
                    <fieldText>&lt;p&gt;Document Decline Reason: {!Get_Lead.Document_Decline_Reason__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ReviewDeclineNotes</name>
                    <fieldText>&lt;p&gt;Decline Notes: {!Get_Lead.Decline_Notes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DeclineChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Screen</name>
        <label>Quote Screen</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Status_To_Quoted</targetReference>
        </connector>
        <fields>
            <name>Quote_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Quote Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sale_Screen</name>
        <label>Sale Screen</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Calculate_Total</targetReference>
        </connector>
        <fields>
            <name>Sale_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Install_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Install Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Subtotal</name>
                    <dataType>Currency</dataType>
                    <fieldText>Subtotal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Tax_Code</name>
                    <choiceReferences>TaxCodePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tax Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tax</name>
                    <dataType>Currency</dataType>
                    <fieldText>Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Calculate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_Screen</name>
        <label>Schedule Screen</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Status_To_Scheduled</targetReference>
        </connector>
        <fields>
            <name>Schedule_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Appointment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Timeslot</name>
                    <choiceReferences>TimeslotPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Appointment Timeslot</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1156</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Reset_Alert</name>
        <label>Reset Alert</label>
        <locationX>1282</locationX>
        <locationY>1142</locationY>
        <flowName>HITN_Lead_B</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>CompletionDocumentLabel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Completion Document&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FileUploadName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>File Upload</text>
    </textTemplates>
    <textTemplates>
        <name>RefreshPage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!Get_Lead.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Refresh&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>URL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>/{!Get_Lead.Id}</text>
    </textTemplates>
    <variables>
        <name>AssignedApproveValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
